.form-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 25px;
}
.forms{
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #8360c3;
    padding: 40px;
    background: linear-gradient(to right, #2ebf91, #8360c3);
}
.fa-lightbulb{
    font-size: 55px;
    color: white;
    backface-visibility: hidden;
}
.messages{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.messages h3{
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 7px;
    color: white;
}
#message{
    width: 70%;
    margin-right: 34px;
}

#reportArtist{
    width: 30%;
}
#messageForm{
    display: flex;
    justify-content: space-around;
    width: 100%;
    /*height: 200px;*/
    /*margin: 20px auto;*/
    padding: 10px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    margin-right: 25px;
    background: rgba(138, 124, 255, 0.1607843137254902);
}
#artistForm{
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    background: rgba(138, 124, 255, 0.1607843137254902);
}
form h3{
    color: #353739;
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 400;
}
form button{
    border: none;
    width: 112px;
    height: 30px;
    margin: 0px auto;
    margin-top: 9px;
    border: 1;
    outline: none;
    border-radius: 15px;
    background: #cdb4c8;
    box-shadow: 0px 0px 26px -7px rgba(0,0,0,0.75);
    cursor: pointer;
    font-size: 21px;
    color: white;
}
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group2{
    display: flex;
    flex-direction: column;
}
.form-group label, .form-group2 label{
    font-size: 13px;
    padding-left: 9px;
    padding-bottom: 3px;
    color: white;
    font-weight: 400;
}
.form-group div, .form-group2 div{
    display: flex;
    flex-direction: column;
}
.form-group input, .form-group2 input{
    height: 35px;
    border-radius: 16px;
    margin-bottom: 10px;
    border: none;
    background: rgba(255, 254, 254, 0.27);
    box-shadow: 0px 0px 26px -7px rgba(0,0,0,0.75);
}
.form-group:nth-of-type(1){
    width: 25%;
    justify-content: space-around;
}

.form-group:nth-of-type(2){
    width: 60%;
    justify-content: center;
}
textarea{
    border: none;
    border-radius: 16px;
    background: rgba(255, 254, 254, 0.27);
    box-shadow: 0px 0px 26px -7px rgba(0,0,0,0.75);
}
input, textarea{
    font-family: "Segoe UI";
    padding: 3px;
    backface-visibility: hidden;
    color: #353739;
}
input:focus, textarea:focus{
    outline: none;
}




.forms:hover .fa-lightbulb{
    animation: neon3 1.5s ease-in-out infinite alternate;
}


@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
  }
}


@media (max-width: 1100px){
    .forms{
        width: 90%;
    }
    
}
@media (max-width: 955px){
    .messages h3{
        font-size: 22px;
    }
    #message{
        margin-right: 15px;
    }
}
@media (max-width: 680px){
    .forms{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 25px;
    }
    .forms h2{
        margin-bottom: 20px;
    }
    .messages{
        flex-direction: column;
    }
    #message{
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    #reportArtist{
        width: 100%;
    }
    #messageForm{
        margin-right: 0;
        margin-bottom: 10px;
    }
    #artistForm, #messageForm{
        padding: 3%;
    }
    
    
    
    #messageForm{
        flex-direction: column;
    }
    .form-group:nth-of-type(1) {
        width: 100%;
    }
    .form-group:nth-of-type(2) {
        width: 100%;
    }
    
}
@media (max-width: 500px){
    .form-group label, .form-group2 label {
    font-size: 10px;}
    .form-group input{
        font-size: 10px;
    }
    .form-group textarea{
        font-size: 10px;
    }
}